  <div class="container page-content text-center">
        <h1>Contact Page</h1>
 
        <div>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum corporis repellat dolorum odit voluptatem. Fugit ullam ea asperiores et, corporis cupiditate animi amet reprehenderit consequatur autem vel, perspiciatis mollitia iusto.</p>
        	<p>Ad, dicta, ea. Dolor sunt autem omnis, ut placeat, doloremque tenetur nostrum provident aliquid aliquam illo eaque error, animi nam, optio alias nihil itaque recusandae? Magni, quas voluptatem perspiciatis alias.</p>
        	<p>Aperiam repellat quos deleniti odit necessitatibus vitae mollitia nemo veritatis. Saepe animi, dignissimos aut, iusto excepturi beatae fugiat nostrum magni et aliquid. At, dolores! Maiores expedita veniam ipsam quae repellat.</p>
        	<p>Voluptate iusto ipsam officiis quaerat doloribus vero eius, et, iste est, labore necessitatibus magni delectus aut aperiam. Eveniet, recusandae ab inventore rem! Dolor itaque placeat necessitatibus, nesciunt nemo quibusdam beatae.</p>
        	<p>Mollitia, eligendi deserunt soluta esse repellendus. Quae nemo eius id qui magni. Nihil tempora non vel magni fugiat fugit placeat minus esse sint rem accusantium reprehenderit, harum atque numquam nostrum.</p>

        </div>
    </div>
